@model Ecommerce.Models.Purchase.PurchaseOrderEntity

@{
    ViewBag.Title = "ViewOrder";
}

<h2>ViewOrder</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTitle)
        </dd>

        <dt>
            Uploaded File
        </dt>

        <dd>
            <a class="btn btn-outline-primary" href="@Url.Action("DisplayPurchaseOrderPdf",new {id=Model.id,path = Model.OrderPdfPath})" target="_blank">
                View File
            </a>
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
